version: '3'
services:
  web:
    build: flask_app/
    ports:
      - "5001:5001"
    restart: on-failure
    depends_on:
      - rmq
    environment:
      - WEBAPP_ENV=env
      - GOOGLE_APPLICATION_CREDENTIALS=firebase-config.json
    volumes:
      - ./flask_app:/flask_app
  rmq:
    build: rabbitmq/
    ports:
      - "15672:15672"
      - "5672:5672"
    healthcheck:
      test: [ "CMD", "nc", "-z", "localhost", "5672" ]
      interval: 3s
      timeout: 10s
      retries: 3