<!doctype html>
<html lang="en">
{% from "macros.html" import active_sidebar %}
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://kit.fontawesome.com/9afceccd18.js" crossorigin="anonymous"></script>
    {% endblock %}

    <title>Plant Imaging Dashboard</title>
    {% endblock %}
</head>
<body>
<!-- Page content -->

<main class="d-flex flex-nowrap">

    {% block sidebar %}
    <!--    sidebar     -->
    <div class="b-example-vr"></div>
    <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 220px;">
        <a href="/" class="d-flex align-items-center my-5">
            <img class="logo-img" src="{{ url_for('static', filename='img/logo.png') }}" alt="">
            <!--            <i class="fa-solid fa-dna fa-2x"></i>-->
            <!--            <span class="fs-4" style="margin-left: 0.4em;">Testing</span>-->
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto custom-pills">
            <li class="nav-item my-2 ">
                <a href="{{ url_for('.home') }}" class="nav-link {{ active_sidebar('home') }} py-3" aria-current="page">
                    <i class="fa-solid fa-house"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item mb-2">
                <a href="{{ url_for('.plant_conditions') }}" class="nav-link {{ active_sidebar('plant_conditions') }} py-3">
                    <i class="fa-solid fa-plant-wilt"></i>
                    Plant Conditions
                </a>
            </li>
            <li class="nav-item mb-2">
                <a href="{{ url_for('.imaging') }}" class="nav-link {{ active_sidebar('imaging') }} py-3">
                    <i class="fa-solid fa-camera"></i>
                    Imaging
                </a>
            </li>
            <li class="nav-item mb-2">
                <a href="{{ url_for('.images') }}" class="nav-link {{ active_sidebar('images') }} py-3">
                    <i class="fa-solid fa-image"></i>
                    Images
                </a>
            </li>
            <li class="nav-item mb-2">
                <a href="{{ url_for('.settings') }}" class="nav-link {{ active_sidebar('settings') }} py-3">
                    <i class="fa-solid fa-gear"></i>
                    Settings
                </a>
            </li>
        </ul>
        <hr>
        <div class="d-flex align-items-center mx-auto ">
            <i class="fa-solid fa-user fa-2x"></i>

            <!--            <a href="#" class="d-flex align-items-center link-dark text-decoration-none">-->
            <!--                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">-->
            <!--                <strong>User</strong>-->
            <!--            </a>-->
        </div>
    </div>
    <div class="b-example-vr"></div>
    {% endblock %}

    {% block content %}{% endblock %}

</main>



{% block scripts %}

<!-- Optional JavaScript -->
{{ bootstrap.load_js() }}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
</body>
</html>
<!-- TODO add sidebar to template-->