{% extends "base.html" %}

{% block content %}

    <!--    main content    -->
    <div class="container m-2 mt-4">
        <div class="title-box">
            <h1>Plant Imaging Dashboard</h1>
            <p>Welcome, User!</p>
        </div>

        <div class="row d-flex text-center mb-4">
            <div class="col">
                <div class="card card-custom border-0 transition">
                    <div class="card-body">
                        <h5 class="card-title">Raspberry Pi Status</h5>
                        <p class="card-text">Both plant growth and imaging devices are online and ready.</p>
                    </div>
                    <div class="card-footer border-0 bg-transparent">
                        <a href="#" class="btn btn-outline-dark btn-custom mt-auto mx-auto">Update devices</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 card-custom2 transition">
                    <div class="card-body">
                        <h5 class="card-title">Camera Integration</h5>
                        <p class="card-text">Canon EOS integration is ready for automated image capture.</p>
                    </div>
                    <div class="card-footer border-0 bg-transparent">
                        <a href="#" class="btn btn-outline-dark btn-custom mt-auto mx-auto">Change integration</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 card-custom-3 transition">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Storage</h5>
                        <p class="card-text">Files currently taking up 158MB on local disk.</p>
                    </div>
                    <div class="card-footer border-0 bg-transparent">
                        <a href="#" class="btn btn-outline-dark btn-custom mt-auto mx-auto">Move to Amazon S3</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <a href="{{ url_for('.plant_conditions') }}" class="text-decoration-none text-reset">
                <h2 class="">Plant Conditions</h2>
            </a>
        </div>
        <div class="row align-items-start text-center">
            <div class="col ">
                <div class="card plant-conditions border-0 card-custom pb-4 test">

                    <div class="row align-items-center mt-4">

                        {% for plant in plants %}
                            <div class="col">
                                <div class="small-card mx-auto">
                                    <div class="small-card-details">
                                        <h5>{{ plant.name }}</h5>
                                        <p class="text-body">LED: {{ plant.brightness }}% {{ plant.wavelength }}nm</p>
                                        <p class="text-body">Temperature: {{ plant.temperature }}°C</p>
                                    </div>
                                    <a href="{{ url_for('.plant_conditions', plant_id=plant.id) }}" class="btn btn-outline-dark small-card-button">More info</a>
                                </div>
                            </div>
                        {% endfor %}

                    </div>

                </div>
            </div>


        </div>

    </div>


{% endblock %}