{% extends "base.html" %}

{% block content %}

<main class="d-flex flex-nowrap">

    <!--    sidebar -->
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <i class="fa-solid fa-dna fa-2x"></i>
            <span class="fs-4" style="margin-left: 0.4em;">Testing</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                    <i class="fa-solid fa-house"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <i class="fa-solid fa-plant-wilt"></i>
                    Plant Conditions
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <i class="fa-solid fa-camera"></i>
                    Imaging
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <i class="fa-solid fa-image"></i>
                    Images
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <i class="fa-solid fa-gear"></i>
                    Settings
                </a>
            </li>
        </ul>
        <hr>
        <div class="d-flex align-items-center mx-auto ">
            <i class="fa-solid fa-user fa-2x"></i>

            <!--            <a href="#" class="d-flex align-items-center link-dark text-decoration-none">-->
            <!--                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">-->
            <!--                <strong>User</strong>-->
            <!--            </a>-->
        </div>
    </div>
    <div class="b-example-vr"></div>

    <!--    main content -->
    <div class="container m-2 mt-4">
        <div class="text-left">
            <h1>Plant Imaging Dashboard</h1>
            <p>Welcome, User!</p>
        </div>

        <div class="row align-items-start text-center mb-4">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Raspberry Pi Status</h5>
                        <p class="card-text">Both plant growth and imaging devices are online and ready.</p>
                        <a href="#" class="btn btn-primary">Update device</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Camera Integration</h5>
                        <p class="card-text">Canon EOS integration is ready for automated image capture.</p>
                        <a href="#" class="btn btn-primary">Change integration</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Storage</h5>
                        <p class="card-text">Files currently taking up 158MB on local disk.</p>
                        <a href="#" class="btn btn-primary">Move to Amazon S3</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-start text-center">
            <div class="col">
                <div class="card plant-conditions">
                    <h4 class="card-title mt-2">Plant Conditions</h4>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <h5>Plant 1</h5>
                            <p>LED brightness: 70%</p>
                            <p>Temperature: 25°C</p>
                        </div>
                        <div class="col">
                            <h5>Plant 2</h5>
                            <p>LED brightness: 85%</p>
                            <p>Temperature: 26°C</p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col">
                            <h5>Plant 3</h5>
                            <p>LED brightness: 25%</p>
                            <p>Temperature: 24°C</p>
                        </div>
                        <div class="col">
                            <h5>Plant 4</h5>
                            <p>LED brightness: 100%</p>
                            <p>Temperature: 25°C</p>
                        </div>
                    </div>

                </div>
            </div>


        </div>


    </div>


</main>


<script src="{{ url_for('static', filename='sidebars.js') }}"></script>


{% endblock %}