@font-face {
  font-family: 'Soin Sans Neue';
  src: url('../fonts/SoinSansNeue-ExtraLight.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'Soin Sans Neue';
  src: url('../fonts/SoinSansNeue-Roman.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Soin Sans Neue';
  src: url('../fonts/SoinSansNeue-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Soin Sans Neue';
  src: url('../fonts/SoinSansNeue-Heavy.otf');
  font-weight: 800;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.b-example-vr {
        flex-shrink: 0;
        width: 2.2rem;
        height: 100vh;
      }

.plant-conditions {

}

h1, h2, h3, h4, h5, p {
    font-family: 'Soin Sans Neue';
}

h1 {
    font-weight: 800;
    font-size: 2.75rem;
}

h2 {
    font-weight: 800;
}
h4 {
    font-weight: 700;
}

h5 {
    font-weight: 700;
}

p {
    font-weight: 300;
}

.title-box p {
    font-weight: 300;
    font-size: 1.375rem;
}

.title-box h1 {
    margin-bottom: 0.25rem;
}

.card-custom {
  border-radius: 1.5rem;
  background: rgb(245,250,233);
  background: linear-gradient(131deg, rgba(245,250,233,1) 0%, rgba(241,251,236,1) 44%, rgba(237,253,239,1) 100%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.card-custom2 {
    border-radius: 1.5rem;
    background: rgb(131,245,175);
    background: linear-gradient(114deg, rgba(131,245,175,1) 0%, rgba(160,243,176,1) 0%, rgba(179,242,185,1) 23%, rgba(200,240,194,1) 100%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.card-custom-3 {
    border-radius: 1.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: rgb(255,241,216);
    background: linear-gradient(135deg, rgba(255,241,216,1) 0%, rgba(255,236,202,1) 100%);
    height: 100%;
}


.small-card {
    width: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.btn-custom {
    font-family: 'Soin Sans Neue';
    font-weight: 400;
    width: fit-content;
    margin-bottom: 0.5rem;
}

.transition {
    transition: transform 0.2s ease-in-out;
}

.transition:hover {
    transform: scale(1.01);
}

.custom-pills .nav-item .active {
    border-radius: 0.5rem;
    background-color: black;
}

li.nav-item {
    font-family: 'Soin Sans Neue';
     font-weight: 400;
}

i.fa-solid {
    margin-right: 0.5rem;
}

.logo-img {
    width: 100%;
}

.small-card {
 width: fit-content;
 border-radius: 1.5rem;
 background: white;
 position: relative;
 padding: 1rem;
 border: 1px solid rgba(0, 0, 0, 0);
 transition: 0.5s ease-out;
 overflow: visible;
}

.small-card-details {
 color: black;
 height: 100%;
 gap: .5em;
 display: grid;
 place-content: center;
}

.small-card-button {
 transform: translate(-65%, 50%);
 width: 60%;
 border-radius: 0.75rem;
 border: none;
 background-color: black;
 color: #fff;
 font-family: 'Soin Sans Neue';
 font-weight: 400;
 padding: .5rem .1rem;
 position: absolute;
 left: 50%;
 bottom: 0;
 opacity: 0;
 transition: 0.3s ease-out;
}

/*Hover*/
.small-card:hover {
 border-color: rgba(0, 0, 0, 1);
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.small-card:hover .small-card-button {
 transform: translate(-50%, 50%);
 opacity: 1;
}

.test {
    background: unset;
    background-color: #f5f5f5;
}